<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_text %>
    <%= form.text_field :question_text %>
  </div>

  <div class="field">
    <%= form.label :question_type %>
    <%= form.collection_select(:question_type_id, QuestionType.all, :id, :question_type_name) %>
  </div>

  <div class="field">
    <%= form.label :affirmative_Resource %>
    <%= form.collection_select :affirmative_resource_id, Resource.all, :id, :name, include_blank: true %>
  </div>
  
  <div class="field">
    <%= form.label :negative_Resource %>
    <%= form.collection_select :negative_resource_id, Resource.all, :id, :name, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
