<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_text %>
    <%= form.text_field :question_text %>
  </div>

  <div class="field">
    <%= form.label :question_type %>
    <%= form.collection_select(:question_type_id, QuestionType.all, :id, :question_type_name) %>
  </div>

  <div class="field">
    <%= form.label :resource %>
    <%= form.collection_select :affirmative_resource_id, Resource.all, :id, :name, include_blank: true %>
  </div>

  
  <h3>Responses</h3>
  <%= form.fields_for :child_questions do |child_question| %>
    <%= render 'question_fields', f: child_question %>
  <% end %>

  <%= link_to_add_fields "Add Question", form, :child_questions %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
