<p id="notice"><%= notice %></p>

<h1>Resource Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_categories.each do |resource_category| %>
      <tr>
        <td><%= resource_category.name %></td>
        <td><%= resource_category.slug %></td>
        <td><%= link_to 'Show', resource_category %></td>
        <td><%= link_to 'Edit', edit_resource_category_path(resource_category) %></td>
        <td><%= link_to 'Destroy', resource_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource Category', new_resource_category_path %>
