<%= form_with(model: questionnaire, local: true) do |form| %>
  <% if questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Questionnaire_Name %>
    <%= form.text_field :QuestionnaireName %>
  </div>

  <div class="field">
    <%= form.label :resource_category %>
    <%= form.collection_select(:resource_category_id, ResourceCategory.all, :id, :name) %>
  </div>

  <h3>Questions</h3>
  <%= form.fields_for :questions do |question| %>
    <%= render 'question_fields', f: question %>
  <% end %>

  <%= link_to_add_fields "Add Question", form, :questions %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
