<fieldset>
    <div class="field">
      <%= f.label :question_text %>
      <%= f.text_field :question_text %>
    </div>

    <div class="field">
      <%= f.label :question_type %>
      <%= f.collection_select(:question_type_id, QuestionType.all, :id, :question_type_name) %>
    </div>
    <div class="field">
      <%= f.label :affirmative_Resource %>
      <%= f.collection_select :affirmative_resource_id, Resource.all, :id, :name, include_blank: true %>
    </div>
    
    <div class="field">
      <%=  f.label :negative_Resource %>
      <%= f.collection_select :negative_resource_id, Resource.all, :id, :name, include_blank: true %>
    </div>

      <%= f.hidden_field :_destroy %>
      <%= link_to "remove", '#', class: "remove_fields" %>
</fieldset>