<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @questionnaire.QuestionnaireName %>
</p>

<% if @questionnaire.QuestionnaireSlug%>
<p>
  <strong>Slug:</strong>
  <%= @questionnaire.QuestionnaireSlug %>
</p>
<% end %>
<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
